.toast {
  display: flex;
    align-items: center;
    padding: 12px 16px;
    bottom: -300px;
    
    float: right;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
   
}

  
  .toast__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  
  .toast__message {
    flex: 1;
  }
  .success {
    background-color: rgb(39 174 96 / 20%);
    color: #298723;
    padding: 16px;
    width: 260px;
    padding-left: 45px;
    border-radius: 4px;
    height: 70px;
    border-color: #0f8c0f;
    border-style: solid;
    font-size: 16px;
    
  }
  
  .error {
    background-color: rgba(195, 31, 31, 0.2);
    color: #c61a1a;
    padding: 16px;
    width: 260px;
    padding-left: 45px;
    border-radius: 4px;
    height: 70px;
    border-color: #c61a1a;
    border-style: solid;
    font-size: 16px;
  }
  .toast-icon.error{
    display: flex;
     font-size: larger;
   color: #c61a1a;
 
  }
  .toast-icon.success{
    display: flex;
     font-size: larger;
   color:#0f8c0f ;
   
  }