<div class="header__container">

    <div class="header__container--div1">
<div class="header__div1--Qarmalogo"><img class="div1-img" src="assets/svg/Mask grouplogo.svg" alt="Qarma Logo" ></div>
<div class="header__div1--items"><img class="div1-img"src="assets/svg/Ellipse 177dashbord.svg" alt=""><span>Dashboard</span></div>
<div class="header__div1--items"><img class="div1-img"src="assets/svg/Vector 680projects.svg" alt=""><span>Projects</span></div>
<div class="header__div1--items"><img class="div1-img"src="assets/svg/Group 108schedules.svg" alt=""><span>Schedules</span></div>
<div class="header__div1--items"><img class="div1-img"src="assets/svg/Group 336setting.svg" alt=""><span>Settings</span></div>
<div class="header__div1--items"><img class="div1-img"src="assets/svg/Group 393knowledge.svg" alt=""><span>knowledge hub</span></div>
    </div>

    <div class="header__container--div2">
<div><img class="div2-img"src="assets/svg/Group 3magnifing.svg" alt=""></div>
<div><img class="div2-img" src="assets/svg/Group 2bellicon.svg" alt=""></div>
<div><img class="div2-img"src="assets/svg/Ellipse 103profile.svg" alt=""></div>
<div><img class="div2-img"src="assets/svg/Group 4hamburger.svg" alt="" mat-button ></div>
    </div>

</div>
