<app-header-component></app-header-component>
<app-tab-component [tabDataItem]="tabItems" [tabDataContent]="tabContent"></app-tab-component>
<app-popup-component [data]="dataToDisplay"></app-popup-component>
<app-toast-component [data]="toastData"></app-toast-component>
<table>
    <tr>
      <th>firstname</th>
      <th>lastname</th>
      <th>email</th>
    </tr>
    <tr *ngFor="let i of tdata">
      <td>{{i.FirstName}}</td>
      <td>{{i.FirstName}}</td>
      <td>{{i.FirstName}}</td>
    </tr>
    <tr>
      <td>{{tdata.FirstName}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
<app-footer-component></app-footer-component>

