<div class="welcomePage" >
    <div class="welcomeTitle" >Welcome to the project listing</div>
    <div>No assigned projects to list.</div>
    <div class="cardCointainer">
        <div class="card">
            <img src="assets/svg/Group 449export.svg" height="34px" width="33px" alt="sample">
            <div>Explore sample project</div>
        </div>
        <div class="card" routerLink="projectform">
            <img src="assets/svg/Group 451create.svg"height="31px" width="36px" alt="create">
            <div>Create new project</div>
        </div>

    </div>
    <div>Check out<span> How to create a new project.</span></div>
    
</div>
<img src="assets/svg/Group 520background1.svg"  class="backgroundimg1"alt="background" >
