<div class="projectFormComponent">
    <div class="profileIcon">
        <img src="assets\svg\Group 358addicon.svg" width="26px" height="26px">
        Add icon
    </div>
    <div>
        <div> What shall we call it</div>
        <div><input type="text" class="projectTitle"> </div>
        <div>What’s this project is about (optional)</div>
        <div><input type="text" class="projectDecription"></div>
        <div>Visibility <span>(When a project is set to personal, It can only be viewed or joined by Invitation.)</span>
        </div>
        <div class="projectVisibility">
            <button><img src="assets\svg\Group 193public.svg">Public <input type="checkbox"></button>
            <button><img src="assets\svg\Group 190personal.svg" >Personal<input type="checkbox" checked="checked"></button>
        </div>
    </div>
    <img src="assets\svg\Group 11872background2.svg" alt="background" width="358px" height="324px" class="background">
</div>
<div class="formSubmitionButtons">
    <button class="submitbutton">cancel</button>
    <button class="submitbutton" routerLink="ack">create</button>
</div>